.imageContainer {
    display: inline-block;
    background-color: rgba(142, 130, 130, 0.57);
    margin-left: 25px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}

  .image {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    max-width: 350px;
    max-height: 350px;
    padding: 30px;
  }

  .image img {
    height: 150px;
    width: auto;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
  }

  .image img:hover {
    transform: scale(1.2);
  }
  
  .imageName {
    font-size: x-large;
  }